
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Sour Gummy;
}

body {
  min-height: 100vh;
  background: linear-gradient(135deg, #a6d3ff, #4864a3);
  animation: glitch2 6s infinite;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #4465a7;
}

@keyframes glitch2 {
  0%,
  78% {
    transform: translate(0);
    background: linear-gradient(135deg, #a6d3ff, #4864a3);
    font-family: Sour Gummy;
    filter: none;
  }

  80% {
    transform: translate(-3px, 2px);
    background: #0f172a;
    font-family: Sour Gummy;
    filter: hue-rotate(40deg);
  }

  82% {
    transform: translate(4px, -5px);
    background: #3f1d2e;
    font-family: Newsreader;
    filter: hue-rotate(120deg);
  }

  84% {
    transform: translate(-2px, 1px);
    background: #883030;
    font-family: Newsreader;
    filter: hue-rotate(220deg);
  }

  86% {
    transform: translate(5px, -4px);
    background: #a01111;
    font-family: Newsreader;
    filter: hue-rotate(300deg);
  }

  88% {
    transform: translate(0);
    background: linear-gradient(135deg, #a6d3ff, #4864a3);
    font-family: Sour Gummy;
    filter: none;
  }

  100% {
    transform: translate(0);
    background: linear-gradient(135deg, #a6d3ff, #4864a3);
    font-family: Sour Gummy;
    filter: none;
  }
}

.cont {
  max-width: 600px;
  background: #fcffcb;
  padding: 2rem;
  border-radius: 16px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
  animation: glitch 6s infinite;
}

@keyframes glitch {
  0%,
  78% {
    transform: translate(0);
    background: #fcffcb;
    font-family: Sour Gummy;
    filter: none;
  }

  80% {
    transform: translate(-3px, 2px);
    background: #0f172a;
    font-family: Sour Gummy;
    filter: hue-rotate(40deg);
  }

  82% {
    transform: translate(4px, -5px);
    background: #3f1d2e;
    font-family: Newsreader;
    filter: hue-rotate(120deg);
  }

  84% {
    transform: translate(-2px, 1px);
    background: #883030;
    font-family: Newsreader;
    filter: hue-rotate(220deg);
  }

  86% {
    transform: translate(5px, -4px);
    background: #a01111;
    font-family: Newsreader;
    filter: hue-rotate(300deg);
  }

  88% {
    transform: translate(0);
    background: #fcffcb;
    font-family: Sour Gummy;
    filter: none;
  }

  100% {
    transform: translate(0);
    background: #fcffcb;
    font-family: Sour Gummy;
    filter: none;
  }
}

.cont h1 {
  font-size: 2.2rem;
  margin-bottom: 1rem;
  text-align: center;
}

.cont p {
  line-height: 1.6;
  color: #879ec6;
  margin-bottom: 1.5rem;
}


.card {
  background: #95b7ffd0;
  padding: 1.2rem;
  border-radius: 12px;
  border-left: 4px solid #3b82f6;
}

.card h2 {
  margin-bottom: 0.5rem;
  font-size: 1.3rem;
  color: #faff94;
}

.card p{
    color:#f5f9a6
}
